<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="/core.js"></script>
<script>
window.onload = function(){
  createCalendar( Date() );
}
function createCalendar( date ){
  let table = document.querySelector('.calendar');
  table.innerHTML = "";
  let res = monthDay( date );
  console.log( res );
  let maximum = -1;
  let colors = [ "red", "black", "gray" ];
  let cindex = 0;
  let weekList = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'];
  let d = new Date();
  let year = d.getFullYear();
  let month = d.getMonth();
  let weekTr = createElement("tr");
  for(let week of weekList ){
    let td = createElement("td", {innerText: week, className:"calendar-header"});
    weekTr.appendChild( td );
  }
  table.appendChild( weekTr );
  for(let i = 0 ; i < res.length ; i++ ){
    let tr = createElement("tr");
    for(let j = 0 ; j < res[i].length ; j++ ){

      if( maximum > res[i][j] ){
        cindex++;
        month++;
      }
      maximum = res[i][j];
      let date = `${year}/${month}/${res[i][j]}`;
      let td = createElement("td", {
        innerText: `${res[i][j]==1?month+'/':''}${res[i][j]}`, className:"calendar-date", 
        style:{
          color: colors[cindex]
        },
        onclick:()=>preorder( date )
      });
      tr.appendChild( td );
    } 
    table.appendChild( tr );
  }

}

function preorder( d ){
  let uid = location.href.match(/\/shop\/(\d+)\/calendar/)[1];  
  location.href = `/shop/${uid}/preorder/${d}`;
}

function monthDay(date) {
  const daysArr = [[], [], [], [], [], []]; 
  const currentWeekday = moment(date).date(1).weekday(); 
  const lastMonthDays = moment(date).subtract(1, 'month').daysInMonth(); 
  const currentMonthDays = moment(date).daysInMonth(); 
  const getDay = day => (day <= lastMonthDays ? day : (day <= (lastMonthDays + currentMonthDays)) ? day - lastMonthDays : day - (lastMonthDays + currentMonthDays)); // 日期处理
  for (let i = 0; i < 7; i += 1) {
    let virtualDay = (lastMonthDays - currentWeekday) + i + 1;
    for (let j = 0; j < 6; j += 1) {
      daysArr[j][i] = getDay(virtualDay + (j * 7));
    }
  }
  return daysArr;
}
</script>
<style>
  .calendar-header{
    color: white;
    border: 1px solid black;
    background: #3f3a36;
  }
  .calendar{
    font-size: 24px;
    text-align: center;
    
  }
  .calendar-date{
    font-size: 24px;
    border: 1px solid black;;
  }
  .wbox{
    width:100%;
    /* height:300px;     */
  }
  .hbox{
    width:100px;
    height:100%;
  }

  .T_red{
    background: red;
  }
  .red{
    background: rgb(255, 218, 10);
  }
  .pink{
    background: pink;
  }
  .blue{
    background: lightskyblue;
  }
  .green{
    background: limegreen;
  }
  .btnmargin{
    margin: 5px;
  }
  .labelmargin{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .t_center{
    text-align: center;
  }

  .t_right{
    text-align: right;
  }
  .introbox{
    padding: 10px;
  }
  .marginbottom{
      margin-bottom: 50px;
  }
  .margintop{
      margin-top: 10px;
  }

  .paddingtop{
      padding-top: 10px;
  }
  .paddings{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 30px;
  }
</style>
<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Social Distence Free</a>
        <span class="navbar-text">
            歡迎，<b><%= name %></b>
        </span>
        <!-- <form class="d-flex">
          <% if( name!="訪客" ) { %>
            <div class="btn btn-outline-success btnmargin" onclick="location.href='/api/v1/logout'">登出</div>
          <% }else{ %>
            <div class="btn btn-outline-success btnmargin" type="button" value="登入" onclick="location.href='/login'">登入</div>
          <% } %>
        </form> -->
      </div>
    </nav>
  </header>
  <main class="container wbox paddings margintop">
    <div class="row justify-content-center">
      <div  class="col-auto border lead" style="text-align: center; color:red">
        <%= message %>
      </div>
    </div>
    <h1 style="text-align: center;">預約情況</h1>
    <div class="row">

      <table class="calendar" class="col border t_center">

        <!-- TODO: 月曆-->
        <!-- Here is 月曆
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> -->
        <!-- 月曆 -->

      </table>
  </main>

  </body>
